* {
    padding: 5px;
}

.wrong {
    color: red;
}

.right {
    color: green;
}

#output {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.guess-row1 {
    display: flex;
    gap: 0.5rem;
}

.guess-row2 {
    display: flex;
    gap: 0.5rem;
}